<article id="entra" class="entra">
    <div class="container position-relative">
        <img src="{{'/assets/images/entra-angle-left.svg' | relative_url}}" class="entra__angle-left">
    </div>
    <div class="container position-relative entra__wrapper">
        <div class="container-fluid entra__inner">
            <div class="row">
                <div class="col-md-6 p-md-4">
                    <h1 >I tuoi dati anagrafici</h1>
                    <p class="lead">
                            Se il tuo Comune è già presente nell'Anagrafe Nazionale, puoi vedere, scaricare e stampare i tuoi dati anagrafici – per esempio le tue generalità, la composizione della tua famiglia, gli estremi del tuo atto di nascita.
                    </p>
                </div>
                <div class="col-md-6 p-md-4 entra__spid">
                    <h2 class="mt-3 mb-3">Entra con SPID</h2>
                    <p>SPID è il sistema unico di accesso ai servizi online della Pubblica Amministrazione. Se hai già un'identità digitale SPID, accedi con le tue credenziali. Se non hai ancora SPID, richiedilo ad uno dei gestori.</p>
                    <div class="">
                        <div class="d-inline-flex mr-4">
                            <button type="button" class="btn btn-primary mb-2 ">Entra con SPID</button>
                        </div>
                        <div class="d-inline-flex">
                            <p class="small">Non hai SPID? <a href="#">Scopri di più.</a></p>
                        </div>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-outline-primary mb-2">Entra con la Carta d'Identità Elettronica</button>
                    <button type="button" class="btn btn-outline-primary mb-2">Entra con la Carta Nazionale dei Servizi</button>
                </div>

            </div>
        </div>
    </div>
</article>