<footer class="main-footer text-muted pt-5 pb-5">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-sm-6 col-md-3 ">
          <img src="{{'assets/images/logo-interno.svg' | relative_url}}" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 mt-4 mt-md-0">
            <img src="{{'assets/images/logo-anpr.svg' | relative_url}}" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 mt-4 mt-md-0">
            <img src="{{'assets/images/logo-teamdigitale.svg' | relative_url}}" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 mt-4 mt-md-0">
            <img src="http://placehold.it/160x100?text=Logo+SOGEI" class="img-fluid">
        </div>
      </div>
      <hr class="border-light">
      <div class="row ">
        <ul class="col list-inline  list-footer">
          <li class="list-inline-item">
            <a  class="small-prints" href="/privacy-policy">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a class="small-prints" href="/note-legali">Note Legali</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>