<footer class="main-footer text-muted pt-5 pb-5">
    <div class="container">
      <div class="row mb-4 align-items-center">
        <div class="col-sm-6 col-md-3">
          <img src="http://placehold.it/160x100?text=Logo+MINr" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="http://placehold.it/160x100?text=Logo+ANPR" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="http://placehold.it/160x100?text=Logo+TEAM" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="http://placehold.it/160x100?text=Logo+SOGEI" class="img-fluid">
        </div>
      </div>
      <hr class="border-light">
      <div class="row ">
        <ul class="col list-inline  list-footer">
          <li class="list-inline-item">
            <a  class="small-prints" href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a class="small-prints" href="#">Note Legali</a>
          </li>
          <li class="list-inline-item">
            <a class="small-prints" href="#">Accessibilità</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>