<a name="home"/>
<div class="jumbotron jumbotron-fluid apertura bg-dark pt-2 pb-2 pt-md-5 pb-md-5" id="home">
        <div class="container">
          <div class="row">
              <div class="col-md-7 mb-4 mb-md-0">
                    <h1 >Per una Pubblica Amministrazione più semplice bisogna partire dalle basi: costruiamo l’anagrafe nazionale.</h1>
                    <a class="btn bg-white btn-lg" href="#" role="button">Scopri il progetto</a>
              </div>
              <div class="col-md-5 position-relative">
                  <div class="cards ">
                    <div class="card">
                       <div class="card-body">
                       <h4 class="card-title">A che punto è il tuo Comune?</h4>
                       <p class="card-text">All’interno di questo sezione puoi scoprire se il tuo Comune è già entrato nell’anagrafe nazionale o a che punto è del percorso.</p>
                       <a class="card-link" href="#">Controlla il tuo comune</a>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-body">
                       <h4 class="card-title">I tuoi dati anagrafici</h4>
                       <p class="card-text">Se il tuo Comune è entrato nell'anagrafe puoi vedere, controllare o stampare i tuoi dati anagrafici.</p>
                       <a class="card-link" href="#">Accedi alla tua area personale</a>
                       </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>