<nav class="container site-navbar navbar navbar-expand-lg mt-0 mt-md-3" id="main-navbar-wrapper">
        <a class="navbar-brand text-white d-block d-lg-none p-2 " href="/">{{site.title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="{{'/assets/images/icons/ico-hamburger.svg' | relative_url}}"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav nav mr-auto" id="main-navbar-ul" role="tablist">
            {% for item in site.data.menu %}
            <li class="nav-item {{item.class}} ">
              <a class="nav-link {% if page.url=='/' and forloop.index==1%}active{%endif%}" 
                 href="{{item.url}}">{{item.name}}</a>
            </li>
            {% endfor %}
          </ul>

        </div>
</nav>