<div class="container collapse-header" id="statoavanzamento">
        <h2 data-toggle="collapse" data-target="#accordionStatoavanzamento" aria-expanded="false" aria-controls="accordionStatoavanzamento">
          Stato di avanzamento
        </h2>
      </div>
      <div id="accordionStatoavanzamento" class="collapse" role="tabpanel" aria-labelledby="statoavanzamento" data-parent="#accordionProgetto">
        <div class="collapse-body mt-2 mt-md-4">
          <div class="container ">
          <div class=" row row-eq-height statoavanzamento__numeri">
              <div class="col-md-6 " >
                  <div class="statoavanzamento__item h-100 mr-md-3 mb-3 d-flex align-items-end flex-column">
                      <div class="statoavanzamento__title mr-auto">Cittadini che hanno ANPR</div>
                      <div class="statoavanzamento__date mr-auto">Aggiornato Oggi 14:06</div>
                      <div class="mt-auto">
                      <div class="statoavanzamento__num mt-auto">1.257.215</div>
                          <div class="statoavanzamento__disclaimer ">Popolazione residente nei Comuni che hanno completato il passaggio all'anagrafe nazionale.</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 ">
                  <div class="statoavanzamento__item h-100 ml-md-3 mb-3 d-flex align-items-end flex-column">
                      <div class="statoavanzamento__title mr-auto">Cittadini che stanno per ottenere ANPR</div>
                      <div class="statoavanzamento__date mr-auto">Aggiornato Oggi 14:06</div>
                      <div class="mt-auto">
                      <div class="statoavanzamento__num mt-auto">7.106.939</div>
                          <div class="statoavanzamento__disclaimer mt-auto">Popolazione residente nei Comuni che hanno avviato ma non completato il passaggio all'anagrafe nazionale.</div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          
          <div class="mt-2 mb-2 mt-md-3 mb-md-3">
              <h3 class="text-center statoavanzamento__oggi_domani">Oggi e domani</h3>
              <div class="statoavanzamento__maps container-fluid">
                  <div class="d-block d-md-flex justify-content-center align-items-center" >
                      <div class="statoavanzamento__maps__text text-center text-md-right">
                          <div class="num">47</div>
                          <div class="tit">Comuni attivati</div>
                          <div class="desc mt-0 mt-md-5">Comuni che hanno attivato <br> l'anagrafe nazionale </div>
                      </div>
                      <div class="statoavanzamento__maps__map m-3">
                          <iframe  width="600" height="600" src="https://dashboard.teamdigitale.governo.it/public/question/ab2b5bcc-ca54-41c3-8c57-5c5f5af803f3" ></iframe>
                      </div>
                      <div class="statoavanzamento__maps__text text-center text-md-left">
                          <div class="num">1.010</div>
                          <div class="tit">Comuni in corso <br> di attivazione</div>
                          <div class="desc">Comuni che stanno per completare <br> l'adesione all'anagrafe nazionale</div>
                      </div>
                  </div>
              </div>
              <div class="container mt-1 mt-md-4 text-center text-md-left">
                   <a href="/progetto/stato-di-avanzamento.html" class="btn btn-primary mt-3 mb-3">Vedi tutti i dati</a>
              </div>
          </div>

        </div>
      </div>