<article id="progetto" class="progetto">
    <div class="container progetto__wrapper">
        <div class="container-fluid">
            <h1>Il progetto</h1>
            <div id="accordionProgetto" class="collapse-div" role="tablist">
                <div class="collapse-header" id="vantaggi">
                  <h2 data-toggle="collapse" data-target="#accordionVantaggi" aria-expanded="true" aria-controls="accordionVantaggi">
                    I vantaggi
                  </h2>
                </div>
                <div id="accordionVantaggi" class="collapse show" role="tabpanel" aria-labelledby="vantaggi" data-parent="#accordionProgetto">
                  <div class="collapse-body">
                    <p class="mb-3 mb-md-5">Oggi le nostre identità sono disperse in ottomila anagrafi comunali. Dobbiamo portarle in una sola anagrafe, guadagnando
                        in efficienza e risparmiando soldi ed energia, perché il cittadino non debba più preoccuparsi di comunicare a ogni ufficio della Pubblica Amministrazione i suoi dati anagrafici o il cambio di residenza, per semplificare le procedure di variazione e uniformarle a livello nazionale, perché sia possibile ottenere certificati senza più bisogno di recarsi allo sportello.</p>
                    <div class="row">
                        <div class="col-md-4">
                                <h3>Alcuni dei vantaggi per i cittadini </h3>
                                <ul>
                                    <li>procedure più rapide</li>
                                    <li>certificati on line</li>
                                    <li>possibilità di controllare i propri dati</li>
                                </ul>
                        </div>
                        <div class="col-md-8">
                            <h3>Alcuni dei vantaggi per la Pubblica Amministrazione</h3>
                            <ul>
                                <li>sicurezza</li>
                                <li>risparmio</li>
                                <li>riduzione degli errori</li>
                                <li>dialogo più semplice tra Amministrazioni</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 mb-3">Vedi tutti i vantaggi</a>
                  </div>
                </div>
                <div class="collapse-header" id="statoavanzamento">
                  <h2 data-toggle="collapse" data-target="#accordionStatoavanzamento" aria-expanded="false" aria-controls="accordionStatoavanzamento">
                    Stato di avanzamento
                  </h2>
                </div>
                <div id="accordionStatoavanzamento" class="collapse" role="tabpanel" aria-labelledby="statoavanzamento" data-parent="#accordionProgetto">
                  <div class="collapse-body">
                    <div class=" row row-eq-height statoavanzamento__numeri mt-3 ">
                        <div class="col-md-6 " >
                            <div class="statoavanzamento__item h-100 mr-md-3 mb-3 d-flex align-items-end flex-column">
                                <div class="statoavanzamento__title mr-auto">Cittadini che hanno ANPR</div>
                                <div class="statoavanzamento__date mr-auto">Aggiornato Oggi 14:06</div>
                                <div class="mt-auto">
                                <div class="statoavanzamento__num mt-auto">1.257.215</div>
                                    <div class="statoavanzamento__disclaimer ">Popolazione residente nei Comuni che hanno completato il passaggio all'anagrafe nazionale.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="statoavanzamento__item h-100 ml-md-3 mb-3 d-flex align-items-end flex-column">
                                <div class="statoavanzamento__title mr-auto">Cittadini che stanno per ottenere l'Anagrafe Nazionale</div>
                                <div class="statoavanzamento__date mr-auto">Aggiornato Oggi 14:06</div>
                                <div class="mt-auto">
                                <div class="statoavanzamento__num mt-auto">7.106.939</div>
                                    <div class="statoavanzamento__disclaimer mt-auto">Popolazione residente nei Comuni che hanno avviato ma non completato il passaggio all'anagrafe nazionale.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-2 mb-2 mt-md-3 mb-md-3">
                        <h3 class="text-center">Oggi e domani</h3>

                    </div>

                  </div>
                </div>
            </div>
    </div>
    </div>
</article>