<div class="container collapse-header" id="strumenti">
    <h2 data-toggle="collapse" data-target="#accordionStrumenti" aria-expanded="false" aria-controls="accordionStrumenti">
          Strumenti di lavoro
    </h2>
</div>
<div id="accordionStrumenti" class="container collapse" role="tabpanel" aria-labelledby="strumenti" data-parent="#accordionProgetto">
    <div class="collapse-body mt-2 mt-md-4">
         
            <div class="card-deck ">
                    <div class="card">
                      
                      <div class="card-body">
                        <h5 class="card-title">Norme e circolari</h5>
                        <p class="card-text">Norme e circolari che hanno permesso la nascita del progetto di costruzione dell'anagrafe nazionale e ne governano l'evoluzione.</p>
                        <ul >
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                      </div>
                      
                    </div>
                    <div class="card">
                      
                      <div class="card-body">
                        <h5 class="card-title">Community</h5>
                        <p class="card-text">ANPR usa strumenti di lavoro e di collaborazione aperti, per favorire la discussione e la partecipazione di tutti.</p>
                            <ul  >
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                    </div>
                      
                    </div>
                    <div class="card">
                      
                      <div class="card-body">
                        <h5 class="card-title">Documentazione</h5>
                        <p class="card-text">Tutti i documenti utili a capire come funziona l'anagrafe nazionale, e a favorire l'utilizzo di ANPR da parte dei Comuni italiani.</p>
                        <ul >
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                    </div>
                      
                    </div>
                  </div>    
            <div class="container mt-1 mt-md-4">
                <a href="/progetto/strumenti-di-lavoro.html" class="btn btn-primary mt-3 mb-3">Vedi tutti gli strumenti</a>
            </div>

    </div>
</div>