<div class="container collapse-header" id="news">
        <h2 data-toggle="collapse" data-target="#accordionNews" aria-expanded="false" aria-controls="accordionNews">
              News
        </h2>
</div>
<div id="accordionNews" class="container collapse" role="tabpanel" aria-labelledby="news" data-parent="#accordionProgetto">
        <div class="collapse-body mt-2 mt-md-4">
            <div class="container">
                <div class="row row-eq-height ">
                    <div class="col-md-3 ">
                        <div class="news__post pr-3 h-100 d-flex align-items-end flex-column">
                            <div class="news__post__tag mr-auto">
                               DAI COMUNI
                            </div>
                            <div class="news__post__title mr-auto">
                                <a href="#">Attività di bonifica propedeutica alla migrazione del Comune su ANPR</a>
                            </div>
                            <div class="news__post__body mr-auto">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales lacus eget nibh… 
                            </div>
                            <div class="news__post__more mr-auto mt-auto">
                                <a href="#">Leggi di più &rarr; </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="news__post pr-3 h-100 d-flex align-items-end flex-column">
                            <div class="news__post__tag mr-auto">
                               DAI COMUNI
                            </div>
                            <div class="news__post__title mr-auto">
                                <a href="#">Ravenna entra nella anagrafe nazionale digitale: servizi più semplici e veloci</a>
                            </div>
                            <div class="news__post__body mr-auto">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales lacus eget nibh… 
                            </div>
                            <div class="news__post__more mr-auto mt-auto">
                                <a href="#">Leggi di più &rarr; </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="news__post pr-3 h-100 d-flex align-items-end flex-column">
                            <div class="news__post__tag mr-auto">
                               DAI COMUNI
                            </div>
                            <div class="news__post__title mr-auto">
                                <a href="#">ANPR: al via l'Anagrafe nazionale digitale e semplificata</a>
                            </div>
                            <div class="news__post__body mr-auto">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales lacus eget nibh… 
                            </div>
                            <div class="news__post__more mr-auto mt-auto">
                                <a href="#">Leggi di più &rarr; </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="news__post pr-3 h-100 d-flex align-items-end flex-column">
                            <div class="news__post__tag mr-auto">
                               DAI COMUNI
                            </div>
                            <div class="news__post__title mr-auto">
                                <a href="#">Pubblicato il documento riguardo le anomalie riscontrate…</a>
                            </div>
                            <div class="news__post__body mr-auto">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales lacus eget nibh… 
                            </div>
                            <div class="news__post__more mr-auto mt-auto">
                                <a href="#">Leggi di più &rarr; </a>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
                  
            <div class="container mt-1 mt-md-4">
                <a href="#" class="btn btn-primary mt-3 mb-3">Vedi tutte le notizie</a>
            </div>
    
        </div>
    </div>