<article id="progetto" class="progetto">
    <div class="progetto__wrapper">
        <div class="container-fluid">
            <div class="container ">
                <h1>Il progetto</h1>
            </div>
            <div id="accordionProgetto" class="collapse-div" role="tablist">
                
                {% include progetto_vantaggi.html %}
                {% include progetto_statoavanzamento.html %}
                {% include progetto_strumenti.html %}
                {% include progetto_news.html %}
                
            </div>
    </div>
    </div>
</article>