<div class="container collapse-header" id="vantaggi">
        <h2 data-toggle="collapse" data-target="#accordionVantaggi" aria-expanded="true" aria-controls="accordionVantaggi">
          I vantaggi
        </h2>
      </div>
      <div id="accordionVantaggi" class="container collapse show" role="tabpanel" aria-labelledby="vantaggi" data-parent="#accordionProgetto">
        <div class="collapse-body mt-2 mt-md-4">
          <p class="mb-3 mb-md-5">Oggi le nostre identità sono disperse in ottomila anagrafi comunali. Dobbiamo portarle in una sola anagrafe, guadagnando
              in efficienza e risparmiando soldi ed energia, perché il cittadino non debba più preoccuparsi di comunicare a ogni ufficio della Pubblica Amministrazione i suoi dati anagrafici o il cambio di residenza, per semplificare le procedure di variazione e uniformarle a livello nazionale, perché sia possibile ottenere certificati senza più bisogno di recarsi allo sportello.</p>
          <div class="row">
              <div class="col-md-4">
                      <h3>Alcuni dei vantaggi per i cittadini </h3>
                      <ul>
                          <li>procedure più rapide</li>
                          <li>certificati on line</li>
                          <li>possibilità di controllare i propri dati</li>
                      </ul>
              </div>
              <div class="col-md-8">
                  <h3>Alcuni dei vantaggi per la Pubblica Amministrazione</h3>
                  <ul>
                      <li>sicurezza</li>
                      <li>risparmio</li>
                      <li>riduzione degli errori</li>
                      <li>dialogo più semplice tra Amministrazioni</li>
                  </ul>
              </div>
          </div>
          <a href="#" class="btn btn-primary mt-3 mb-3">Vedi tutti i vantaggi</a>
        </div>
      </div>