{% assign buildTime =  site.time | date: '%Y%m%d%H%M' %}

<script src="{{ site.baseurl }}/assets/js/bootstrap-italia.bundle.min.js?{{ buildTime }}"></script>
<script src="{{ site.baseurl }}/assets/js/scrollPosStyler.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.easy-autocomplete.min.js"></script>
<script>
  // init script for Sticky observer  plugin
  var pageOffset = 400;
  ScrollPosStyler.init(
    {
      'scrollOffsetY': pageOffset,
    }
  );
  // SCROLLSPY init
  $(function() {
    $('body').scrollspy({ 
      target: '#main-navbar-wrapper',
      offset: pageOffset 
      });

  });

  // SMOOTHSCROLL
  $(function() {

    $('a[href*="#"]')
      .not('[href="#"]')
      .not('[href="#0"]')
      .click(function(event) {
        // On-page links
        if (
          location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
          && 
          location.hostname == this.hostname
        ) {
          // Figure out element to scroll to
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          // Does a scroll target exist?
          if (target.length) {
            // Only prevent default if animation is actually gonna happen
            event.preventDefault();
            $('html, body').animate({
              scrollTop: target.offset().top + pageOffset
            }, 1000, function() {
              // Callback after animation
              // Must change focus!
              var $target = $(target);
              $target.focus();
              if ($target.is(":focus")) { // Checking if the target was focused
                return false;
              } else {
                $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                $target.focus(); // Set focus again
              };
            });
          }
        }
      });
  });
  // SECTION A CHE PUNTO
  $(function() {
    var $comunesearch = $("#comunesearch");
    var $comunestatus = $('#comunesearch_status');
    var $achepuntoform = $('.achepunto__form');
    var $achepuntoname = $('.achepunto__name');
    var $success = $('.achepunto__status--success');
    var $fail = $('.achepunto__status--fail');
    var $close = $('.status-close');
    var options = {
      url: "/assets/comuni.json",
      minCharNumber: '3',
      getValue: "Name",
      highlightPhrase: false,
      list: {
          match: {
              enabled: true
          },
          onChooseEvent: function() {
            var value = $comunesearch.getSelectedItemData().DataSubentro;
            $comunestatus.val(value);
          }
      },
    };
    $comunesearch.easyAutocomplete(options);
    
    $achepuntoform.on('submit', function(e){
      e.preventDefault();

      $achepuntoname.text( $comunesearch.val() );
      if ($comunestatus.val()!='' && $comunestatus!==undefined) {
        $success.show();
        $achepuntoform.hide();
      } else {
        $fail.show();
        $achepuntoform.hide();
      }
      
    });

    $close.on('click', function(e) {
      e.preventDefault();
      $(this).parents('.achepunto__status').hide();
      $comunesearch.val('');
      $comunestatus.val('');
      $achepuntoform.show();
    });
    
  });

</script>