<div class="mt-2 mt-md-4  strumentilavoro__docsection__list">
        <h2>Circolari</h2>
        <ul class="mt-2 mt-md-4 list-unstyled">
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
        </ul>
    </div>