<div class="strumentilavoro__community pt-2 pt-md-5 pb-2 pb-md-5">

    <h2 class="mt-4">Community</h2>
    <h3 class="mb-2 mb-md-5">Una grande comunità di persone al lavoro per costruire l'anagrafe nazionale</h3>

    <div class="row">
        <div class="col-md-4">
            <article class="text-center p-3 strumentilavoro__community__item">
            <img src="{{'assets/images/icons/ico-conversation.svg' | relative_url}}">
            <h1>Forum di discussione</h1>
            <p>Un ambiente di discussione aperto, dove scambiare idee e trovare informazioni sui progetti tecnici della trasformazione digitale, ANPR compreso.</p>
            <a class="small-2" href="#" >VAI AL FORUM &rarr;</a>
            </article>
        </div>
        <div class="col-md-4">
                <article class="text-center p-3 strumentilavoro__community__item">
                        <img src="{{'assets/images/icons/ico-conversation.svg' | relative_url}}">
                        <h1>Github Italia</h1>
                        <p>L'ambiente di lavoro ideale per gli sviluppatori che devono attivare ANPR</p>
                        <a class="small-2" href="#" >VAI A GITHUB &rarr;</a>
                </article>
        </div>
        <div class="col-md-4">
                <article class="text-center p-3 strumentilavoro__community__item">
                        <img src="{{'assets/images/icons/ico-conversation.svg' | relative_url}}">
                        <h1>Developers Italia</h1>
                        <p>La community italiana degli sviluppatori di servizi pubblici supporta il progetto ANPR.</p>
                        <a class="small-2" href="#" >VAI A DEVELOPERS ITALIA &rarr;</a>
                </article>
        </div>
    </div>
</div>