<div class="strumentilavoro__docsection__list">

        <h2>Norme</h2>
        <ul class="mt-2 mt-md-4 list-unstyled">
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
            <li>Lorem ipsum sed text <br><a href="#">Title and link</a></li>
        </ul>
    </div>