<div class="strumentilavoro__docsection__list">

    <h2>Documentazione</h2>
    <p class="mt-2 mt-md-4">Tutti i documenti a supporto dell'attivazione di ANPR nei Comuni italiani.</p>
    <ul class="mt-2 mt-md-4 list-unstyled">
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
        <li><a href="#">Title and link</a></li>
    </ul>
</div>