---
---
@import "bootstrap-italia/src/scss/bootstrap-italia";


$italia-darken: #0054A8;


.small-2 {
    font-size: 0.8rem;
}

.bg-primary-darken {
    background-color: $italia-darken;
}




.navbar-institutional {
    font-size: 0.75rem;
    a {
        font-size: inherit;
        color: #fff;
    }
}
.header-main {
    background-color: $italia;
    &.sps--blw {
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 99;
        padding-top: 1rem !important;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        h2 {
            display: none;
        }

        .site-navbar {
            margin-top: 0 !important;
        }
    }
    .list-at-right {
        color: #fff;
        font-size: 1rem;
        a {
            color: #fff;
            font-size: inherit;
        }
        li {
            display: inline-block;
            padding: 0 1rem;
            @include media-breakpoint-down(md) { 
                padding: 0;
                display: block;
            }
            @include media-breakpoint-down(sm) { 
                display: inline-block;
                padding: 0 1rem;
            }

            &:first-child {
                border-right: 1px solid rgba(255,255,255,0.7);
                padding-left: 0;

                @include media-breakpoint-down(md) { 
                    border-right: none; 
                }
                @include media-breakpoint-down(sm) { 
                    border-right: 1px solid rgba(255,255,255,0.7);
                }

            }
        }
    }
    .list-socials {
        a {
            margin-left: 0.5rem;
        }
        img {
            width: 24px;
        }
    }
}
.main-brand {
    a {
        color: #fff;
        font-size: 3rem;
        &:hover {
            color: #fff;
        }
    }
    &__payoff {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: 0;
    }
}
.site-navbar {
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}


#main-navbar {

    .nav-item {
        .active {
            border-bottom: 4px solid #0BD9D3;
        }
    }

    .nav-link {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1rem 1.2rem;
    }
}
.navbar-2level {

    &__wrapper {
        border-bottom: 2px solid #E5E5E5;
        background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(254,254,254,1) 61%, rgba(254,254,254,1) 100%);
        background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(254,254,254,1) 61%, rgba(254,254,254,1) 100%);

        @include media-breakpoint-down(md) { 
            border-bottom: none;
		}
        
    }

    .nav-item {
        .nav-link {
            color: #5A6772;
            font-weight: 600;
            font-size: 0.9rem;
            padding: 1.3rem 1.2rem;

            &.active {
                position: relative;
                color: #0066CC;

                &:after {
                    border: 1px solid #0066CC;
                    width: 100%;
                    position: absolute;
                    height: 2px;
                    content: '';
                    left: 0;
                    bottom: -2px;
                }
            }
        }
    }

    .sps--blw & {
        display: none;
    }
    .scrollUp & {
        display: block;
    }
}

body.layout--internal {

    .title {
        font-size: 3rem;
        letter-spacing: 0;
    }
    .subtitle {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 0;
    }
    .section-header {
        margin-top: 4rem;
        margin-bottom: 4rem;
        @include media-breakpoint-down(md) { 
            margin-top: 1.5rem;
            margin-bottom: 2.5rem;
		}
    }
}

.apertura {
    background-image: url('/assets/images/apertura.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #fff;
        @include media-breakpoint-down(md) { 
            font-size: 2.2rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
		}
    }
    .cards {
        top: -5rem;
        position: absolute;

        @include media-breakpoint-down(lg) { 
            top: -3.5rem;
            
        }
        @include media-breakpoint-down(md) { 
            top: 0;
            position: relative;
            margin-top: 1rem;
		}
    }
    .card {
        border-radius: 4px;
        box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
        margin-bottom: 1rem;
        
        .card-title {
            color: #12488E;
            font-size: 1.4rem;
        }
        .card-text {
            color: #17324D;
        }
        .card-link {
            font-size: 0.8rem;
            font-weight: 600;
            color: $italia;
            text-transform: uppercase;
            &:after {
                content:'\02192';
                margin-left: 0.4rem;
            }
        }
    }
}

.main-footer {
    background-color: #00264D;
    .border-light {
        border: none;
        border-top: 1px solid rgba(255,255,255,0.2) !important;
    }
    .list-footer {
        .list-inline-item {
            margin-right: 1.2rem;
        }
        a {
            font-weight: 600;
            font-size: 0.9rem;
            color: #65DDE0;
        }
    }
}

.main-section {
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #17324D;

        @include media-breakpoint-down(md) { 
            font-size: 2rem;
            margin-bottom: .7rem;
		}
        
    }
}
.progetto {
    color: #17324D;
    
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #17324D;

        @include media-breakpoint-down(md) { 
            font-size: 2rem;
            margin-bottom: .7rem;
		}
        
    }
    h2 {
        color: #17324D !important;
        font-weight: 600;
        letter-spacing: -1.40px;
        
    }

    &__wrapper {
        padding: 4rem 0;

        @include media-breakpoint-down(md) { 
            padding: 2rem 0;
		}

    }
    .collapse-div {
        border-bottom: none;
    }
    .collapse-header *[data-toggle="collapse"] {
        padding-left: 0;
        padding-right: 0;
        border-top: none;
        border-bottom: 1px solid rgba(151, 151, 151, 0.5);

        &:hover {
            background-color: transparent;
        }
       &:after {
         font-size: 20px;
         color: #0BD9D3;
         position: relative;
         top: 6px;  
       }
    }
    .collapse-header *[data-toggle="collapse"][aria-expanded="true"]:before {
        display: none;
    }
    .collapse-body {
        padding-left: 0;
        padding-right: 0;
    }
    #accordionVantaggi {
        h3 {
            font-size: 1.3rem;

        }
        ul {
            padding-left: 1.8rem;
            li {
                font-size: 1.1rem;
                list-style-type: square;
            }
        }
    }
    #accordionStrumenti {
        .card-deck {
            color: #333333;
            .card {
                border: none;
                box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
                border-radius: 4px;
            }
            .card-title {
                font-size: 1.5rem;
                
                font-weight: 600;
            }
            ul {
                li {
                    color: #0066CC;
                    list-style-type: square;
                }
            }
        }
    }
    .news__post {
        &__tag {
            color: #555759;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        &__title {
            margin-bottom: 1rem;
            a {
            color: #333333 ;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1.3;
            }
        }
        &__body {
            color: #333333;
            margin-bottom: 1rem;
        }
        &__more {
            
            a {
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
    }
    

}
.statoavanzamento {
    &__numeri{
        & > :first-child {
            .statoavanzamento__item {
                background-color: #0C00D3;
                color: #fff;
            }
        }
        & > :last-child {
            .statoavanzamento__item {
                background-color: #0BD9D3;
                color: #000;
            }
        }
    }
    &__item {
        padding: 1.5rem 2.5rem;
        
    }
    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
    }
    &__date {
        font-size: 0.8rem;
        opacity: 0.5;
    }
    &__num {
        text-align: right;
        font-size: 3rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    &__disclaimer {
        text-align: right;
        font-size: 0.9rem;
    }
    &__oggi_domani {
        color: #333333;
        font-size: 2.2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    &__maps {
        position: relative;
        z-index: 1;

        &:before {
            background-color: #42414D;
            position: absolute;
            z-index: -1;
            display: block;
            width: 100%;
            content: '';
            top: 20%;
            bottom: 20%;
            left: 0;
        }
        &__map {
            iframe {
                border: 0;
                box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
                max-width: 100%;
            }
        }

        &__text {
            color: #fff;

            .num {
                font-size: 2.7rem;
                font-weight: 700;
            }
            .tit {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
                line-height: 1.3;
            }
            .desc {
                font-size: 0.9rem;
                line-height: 1.3;
            }
            @include media-breakpoint-down(md) { 
                color: #000;
            }
        }
    }
}
.entra {
    background-color: #F6F6F6;
    padding: 4rem 0;
    background-image: url('/assets/images/entra-angle.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    color: #17324D;

    .lead {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #17324D;

        @include media-breakpoint-down(md) { 
            font-size: 2rem;
            margin-bottom: .7rem;
		}
        
    }
    h2 {
        font-size: 2rem;
        letter-spacing: 0;
    }
    &__spid {
        font-size: 0.9rem;

        .small {
            font-size: 0.75rem;
        }
        hr {
            border: 1px solid #CFDCE6;
            margin: 2rem 0;
        }
        @include media-breakpoint-down(md) { 
            font-size: 1.1rem;
		}
        
    }
    &__inner {
        padding: 0 4rem;
        @include media-breakpoint-down(md) { 
            padding: 0 1rem;
        }
    }
    &__angle-left {
        position: absolute;
        z-index: 0;
        left: -1.5rem;
        top: -1.5rem;
        display: block;
        @include media-breakpoint-down(sm) { 
            display: none;
		}
    }

    &__wrapper {
        padding: 4rem 0;
        box-shadow: 0 2px 4px 0 rgba(156,156,156,0.5);
        background-color: #fff;
        z-index: 1;

        @include media-breakpoint-down(md) { 
            padding: 2rem 0;
		}
    }
    @include media-breakpoint-down(md) { 
        padding: 0;
    }
}
.achepunto {
    background-image: url('/assets/images/achepunto.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        padding: 4rem 0;

        @include media-breakpoint-down(md) { 
            padding: 2rem 0;
		}

    }
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #fff;

        @include media-breakpoint-down(md) { 
            font-size: 2rem;
            margin-bottom: .7rem;
		}
        
    }
    &__lead {
        color: #fff;
        width: 75%;
        margin-bottom: 2rem;

        @include media-breakpoint-down(md) { 
            width: 100%;
            font-size: 1rem;
		}

    }
    &__status {
        display: none;
        color: #17324D;

        &_close {
            cursor: pointer;

            img {
                width: 1.6rem;
            }
        }
    }
    &__form {
        #comunesearch {
            border-bottom: 1px solid #0066CC;
            font-size: 1.6rem;
            font-style: italic;
            font-weight: 600;
            color: #0066CC;

            &::-webkit-input-placeholder {
                font-weight: 300;
                color: #0066CC;
                opacity: 0.5;
            }
            &::-moz-placeholder {
                font-weight: 300;
                color: #0066CC;
                opacity: 0.5;
            }
            &:-ms-input-placeholder {
                font-weight: 300;
                color: #0066CC;
                opacity: 0.5;
            }
            @include media-breakpoint-down(sm) { 
                font-size: 1.1rem;
            }
        }
        button {
           
            padding-left: 3rem;
            padding-right: 3rem;
            margin-left: 2rem;
        }
        .easy-autocomplete {
            width: 100% !important;
        }
        .easy-autocomplete-container {
            
            ul {
                position: absolute;
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                right: 0;
                left: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;

                li {
                    background-color: #fff;
                }
                .eac-item {
                    font-size: 1.5rem;
                    padding: 0.4rem 2rem;
                    cursor: pointer;
                    color: #5A6772;
                    &:hover {
                        color: #0066CC;
                        text-decoration: underline
                    }
                }
            }
        }
    }
}

.vantaggi-index {
    border-top: 1px solid #E5E5E5; ;


    h2 {
        line-height: 1.3;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    &__cell {
        width: (1140px/2);
        max-width: 50vw;
        padding: 4rem;
        padding-left: 1rem;

        @include media-breakpoint-down(lg) { 
            width: (960px/2);
        }
        @include media-breakpoint-down(md) { 
            width: 100%;
            max-width: 100%;
            float: none;
            padding: 2rem 1rem;
        }
    }
    &__img {
        background-image: url(http://placehold.it/1200x600&text=IMG);
        background-repeat: no-repeat;
        min-height: 600px;

        @include media-breakpoint-down(md) {
            min-height: auto;
            height: 30vh;
            background-size: cover;
            background-position-x: center;
        }
    }
    &__container > *:nth-child(even) {
        .vantaggi-index__img {
            background-position-x: right;
            @include media-breakpoint-down(md) { 
                background-position-x: center;
            }
        }
        
    }
}

.strumentilavoro {
    overflow-x: hidden;

    &__community {
        h3 {
            font-weight: 600;
            font-size: 1.3rem;
        }
        &__item {
            h1 {
                color: $italia;
                font-size: 1rem;
                letter-spacing: 0;
                text-transform: uppercase;
                margin: 1rem 0;
            }
        }
    }
    &__docsection {
        &__list {
            background-color: #FAFAFA;
            padding: 2rem;
            ul {
                border-bottom: 2px solid #C0C0C0;
                li {
                    border-top: 2px solid #C0C0C0;
                    padding: 1rem 0;
                }
            }
        }
    }

    &__email {
        background-color: #fff !important;
        border: 0 !important;
        border-radius: none;
        font-size: 0.8rem;
        font-weight: 400 !important;
        min-width: 60%;
        padding-left: 2.5rem;
        display: block;
        background-image: url('/assets/images/icons/ico-mail.svg');
        background-repeat: no-repeat;
        background-position-x: 0.5rem;
        background-position-y: center;
        
        &::-webkit-input-placeholder {
            font-weight: 300;
            opacity: 0.7;
        }
        &::-moz-placeholder {
            font-weight: 300;
            opacity: 0.7;
        }
    }
    &__submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #0066CC;
        border: none;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    &__cell {
        color: #fff;
        padding: 4rem;
        position: relative;
        z-index: 1;
        &:before {
            content: ' ';
            z-index: -1;
            position: absolute;  
            width: 100vw;
            height: 100%;
            bottom: 0;
            @include media-breakpoint-down(md) { 
               display: none;
            }
        }

        h1 {
            font-size: 1.8rem;
            letter-spacing: 0;
            margin: 1.2rem 0;
        }
        h5 {
            font-size: 0.8rem;
            letter-spacing: 0;
            font-weight: 600;
        }
        p {
            font-size: 1.1rem;
            line-height: 1.7;
        }

        &.sx {
            background-color: #0C00D3 ;
            padding-left: 1rem;

            &:before {
                right: 0;
                background-color:  #0C00D3;
            }
        }
        &.dx {
            background-color: #0080FF;
            padding-right: 1rem;
            &:before {
                left: 0;
                background-color:  #0080FF;
            }
        }
    }
}

// ANIMATIONS
@-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 