<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="position-relative layout--internal" >

    {% include topbar.html %}
    {% include header.html %}
    

    <section id="main-section">
      <div class="main-section__wrapper">
        <header class="section-header container">
        <h1 class="title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h2 class="subtitle">{{page.subtitle}}</h2>
        {% endif %}
        </header>
        {% if page.wcontainer %}
        <div class="container">
        {{ content }}
        </div>
        {% else %}
        {{ content }}
        {%endif%}
      </div>
    </section>

    {% include footer.html %}
    {% include cookiebar.html %}
    {% include scripts.html %}
  </body>
</html>