<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="position-relative layout--internal" >

    {% include topbar.html %}
    {% include header.html %}
    {% if page.own_menu %}
        {% include navbar_2level.html %}
    {% endif %}

    <section id="main-section">
      <div class="main-section__wrapper">
        <header class="section-header container">
        <h1 class="title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h2 class="subtitle">{{page.subtitle}}</h2>
        {% endif %}
        </header>
      {{ content }}
      </div>
    </section>

    {% include footer.html %}
    {% include cookiebar.html %}
    {% include scripts.html %}
  </body>
</html>